# Puerto en el que corre el servidor
PORT=3000

# URL base de la API de la NASA (APOD)
# Documentación: https://api.nasa.gov/
NASA_API_URL=https://api.nasa.gov/planetary/apod

# Tu API Key de la NASA — Obtenerla en: https://api.nasa.gov/
NASA_API_KEY=DEMO_KEY