# Puerto en el que corre el servidor
PORT=3000

# URL base de la API de la NASA (APOD)
# Documentación: https://api.nasa.gov/
NASA_API_URL=https://api.nasa.gov/planetary/apod

# Tu API Key de la NASA — Obtenerla en: https://api.nasa.gov/
NASA_API_KEY=your_nasa_api_key_here

# Configuración de MySQL
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=root
DB_PASSWORD=